version: '3.8'

x-service-template: &service-template
  build: .
  restart: always
  command: run
  volumes:
    - "last-oasis-volume:/mnt/steam/"

# @fixme Provide your credentials here
# x-environment-template: &environment-template
#   SERVER_CUSTOMER_KEY: XgZyB0HDYtv4JJ1tUUybXg
#   SERVER_PROVIDER_KEY: 6fSIs5nTwnhfjcaVlZ5BmA
#   SERVER_IP_ADDRESS: 233.252.0.98
#   SERVER_SLOTS: 25
#   STEAM_USER: FancyAlice

services:
  # example-server:
  #   build: .
  #   restart: always
  #   command: run
  #   volumes:
  #     - "last-oasis-volume:/mnt/steam/"
  #   environment:
  #     SERVER_CUSTOMER_KEY: nkOQrfNeXAn2ObOC
  #     SERVER_IDENTIFIER: example-server
  #     SERVER_IP_ADDRESS: 138.201.125.237
  #     SERVER_PORT: 62000
  #     SERVER_PROVIDER_KEY: lpfreWu4cNSUIPsG
  #     SERVER_SLOTS: 5

  # @note Don't remove this service. The `maintenance` service is used
  #       for installing and updating.
  maintenance:
    <<: *service-template
    restart: never
    command: help
    environment:
      <<: *environment-template


  server-01:
    <<: *service-template
    environment:
      <<: *environment-template
      SERVER_IDENTIFIER: server-01
      SERVER_PORT: 62001

  server-02:
    <<: *service-template
    environment:
      <<: *environment-template
      SERVER_IDENTIFIER: server-02
      SERVER_PORT: 62002

  server-03:
    <<: *service-template
    environment:
      <<: *environment-template
      SERVER_IDENTIFIER: server-03
      SERVER_PORT: 62003

volumes:
  last-oasis-volume:
